$netflixBlack: #111;
$white: #fff;
$grey: #e6e6e6;
$darkGrey: #808080FF;
$orange: #e50914;
$lightGray: #282c2d;

$primaryRgba: rgba(51,51,51,0.5);
$opacityRgba: rgba(0,0,0,0.4);
$opacityRgba1: rgba(0,0,0,0.8);
$opacityRgba2: rgba(0,0,0,0);
$opacityRgba3: rgba(0,0,0,0.85);